@import "tailwindcss";
@import "./theme.css";

@plugin "tailwindcss-animate";
@plugin "tailwindcss-react-aria-components";

@custom-variant dark (&:where(.dark-mode, .dark-mode *));
@custom-variant label (& [data-label]);
@custom-variant focus-input-within (&:has(input:focus));

@utility scrollbar-hide {

    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    &::-webkit-scrollbar {
        display: none;
        -webkit-appearance: none;
    }

    /* For IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@utility transition-inherit-all {
    transition-property: inherit;
    transition-duration: inherit;
    transition-timing-function: inherit;
}

@utility section-container {
    @apply max-w-container mx-auto px-4 lg:px-8
}

/* Page background color */
body {
    background-color: var(--color-bg-primary);
}

/*
 * AAAAAAAAAAAHHHHHHHHHHHHHH
 * WHAT IN THE ACTUAL FUCKKKKK!!!!!!!
 *
 * SETTING ANY STYLES TO scrollbar-color BREAKS REACT ARIA MODAL.
 * DO NOT SET scrollbar-color ANYWHERE
 * IT CANCELS ANIMATIONS RELATED TO COLOR AND BREAKS TRANSITIONS
 * MAKING MODAL FLICKER AND LOCK IN OPEN AND UNINTERACTABLE STATE.
 *
 * RELATED ISSUE:
 * https://github.com/adobe/react-spectrum/issues/8802
 */

/*
 * DONT USE WHAT IS BELOW TOO
 * -webkit-scrollbal-<something> disables scrollbar arrow buttons and you have
 * to set them manually.
 */

/* Scrollbar styles */
/* * { */
/*     scrollbar-color: rgba(255, 255, 255, 0.15) transparent; */
/*     transition: scrollbar-color linear 1s; */
/* } */

/* /* Required for other parts to show */ */
/* ::-webkit-scrollbar { */
/*   width: 10px; */
/* } */
/* /* scrollbar bg */ */
/* ::-webkit-scrollbar-track { */
/*   background-color: transparent; */
/* } */
/* /* scrollbar draggable */ */
/* ::-webkit-scrollbar-thumb { */
/*   background-color: rgba(255, 255, 255, 0.15); */
/*   background-clip: padding-box; */
/*   border: 2px solid transparent; */
/*   border-radius: 50em; */
/* } */
/* ::-webkit-scrollbar-thumb:hover { */
/*   background-color: rgba(255, 255, 255, 0.3); */
/*   background-clip: padding-box; */
/*   border: 2px solid transparent; */
/*   border-radius: 50em; */
/* } */
/* /* Style the buttons */ */
/* ::-webkit-scrollbar-button { */
/*   display: block; /* Required on some OSs to show buttons */ */
/*   background-color: transparent; */
/*   height: 5px; */
/*   width: 10px; */
/* } */


html,
body {
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual;
    -webkit-font-kerning: normal;
    font-kerning: normal;
}

/* Hide the default expand arrow on Safari.  */
details summary::-webkit-details-marker {
    display: none;
}

/* Hide default arrows from number inputs. */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/* Hide the default clear button (X) from search inputs. */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
